@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
    margin: 0;
    background-color: #1F2937;
    color: white;
    padding-top: 50px;
    height: 100vh;
    
}

#container {
    max-width: 550px;
    margin: 0 auto;
    border: 1px solid #2F3E53;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    margin-top: 0;
    margin-bottom: 10px;
}

h3 {
    font-family: "Inter";
    font-weight: 300;
    font-size: 20px;
    color: #D5D4D8;
    margin-top: 0;
    margin-bottom: 50px;

}

.accent {
    color: #4ADF86;
}

.btn {
    font-family: "Inter";
    background-color: #10B981;
    color: white; 
    padding: 10px 15px;
    border-radius: 5px
}

#password-container {
    margin-top: 40px;
    border-top: 1px solid #2F3E53;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.hint {
    font-family: "Inter";
    margin-top: 0;
    color: #D5D4D8;
}

.password-buttons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.password {
    font-family: "inter";
    background-color: #2F3E53;
    color: #5DEF92;
    width: 50%;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.8px;
}
